<section class="page-header"  style="background-image: url('{{ site.baseurl }}/{{ site.header-img }}')">
  <h1 class="project-name">{{page.title }}</h1>
  <h2 class="project-tagline">{{page.tagline}}</h2>
  <a href={{ site.baseurl }}/index.html class="btn">Home</a>
  <a href={{ site.baseurl }}/research.html class="btn">Research</a>
  <a href={{ site.baseurl }}/pub.html class="btn">Publications</a>
  <a href={{ site.baseurl }}/cv/cv_cpzhang.pdf class="btn">CV (PDF)</a>
  <a href={{ site.baseurl }}/hmscs.html class="btn">Projects</a>
</section>

